@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');


.bg-img{

	


}


html,body{
	
	background-color: rgba(248, 85, 85, 0.082);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
	font-family: sans-serif;
	font-family: 'Roboto', sans-serif;
}

h1 {

	font-family: sans-serif;
	font-size: 0.7rem;
	color: rgb(255,255,255);


}
.inputs{
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(248, 85, 85);
	border-radius: 5px;
	



}

table {
	font-family: 'ABeeZee', sans-serif;
	margin: auto;
	width: 55%;
	padding: 10px;
	background-color: rgba(248, 85, 85, 0.582);
	margin-top: 1rem;
	
 }
 
 table, th, td {
	border: 1px solid black;
 }

th,td{
	position: center;
	padding: 5px;


}
table{

	 align-content: center;

}

.inputs{
	font-family: 'ABeeZee', sans-serif;
	display:flex;	
	flex-direction:column; 
	margin: auto;
	border: 1px solid black;
	margin-top: 10px;
	
}



.inputQtd,.inputProd,.inputPrec,.inputPrec,.inputFab,.inputVal{

	margin: 2px;
	
	
}

.tTitulo{


	background-color: rgb(248, 85, 85);

}


.text{

	padding-top: 5px;

}

.inputProd :focus{

	border-color: yellow;


}

.inputs button{

	border-radius: 10rem;
	background-color: rgba(0, 150, 250, 0.11);
}
#title{
	font-family: 'Kanit', sans-serif;
	

}
#navtext{

	font-family: 'Roboto', sans-serif;
}

.container{

	display: flex;
	flex-direction: row;


}

img{
	border-top:1px solid black; 

	width: 20px; 
	height:20px;




}

.fade-out { 
	transition: 2s; 
 	opacity: 0; }


td:hover{
	
	cursor: pointer;
}

.divFilha{


	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	font-size: 7px;

}


.divMae{
	max-width: inherit;
	display: flex;
	flex-direction: row;


}
.inputEdit{

	max-width: 50%;

}

td{
	max-width: 100px;
	box-sizing: border-box;

}
.divFilha button{

	padding: 0%;

}
input{


	border-radius: 5px;
}